name: Node CI

on:
  push:
    branches:
      - '**'
  pull_request:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    continue-on-error: true
    timeout-minutes: 15

    steps:
      - uses: actions/checkout@v6
      - name: Use Node.js 18.x
        uses: actions/setup-node@v6
        with:
          node-version: 18.x

      - name: Prepare Environment
        run: |
          corepack enable
          yarn install --immutable
          yarn build
        env:
          CI: true
      - name: Run typecheck and linter
        run: |
          yarn lint
        env:
          CI: true

  test:
    name: Test
    runs-on: ubuntu-latest
    timeout-minutes: 15

    strategy:
      fail-fast: false
      matrix:
        node-version: [14, 16, 18, 20, 22, 24]

    steps:
      - uses: actions/checkout@v6
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}

      - name: Prepare Environment
        run: |
          corepack enable
          yarn install --immutable
        env:
          CI: true
      - name: Run tests
        run: |
          yarn unit
        env:
          CI: true
      - name: Send coverage
        uses: codecov/codecov-action@v5
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        if: matrix.node-version == '18.x'
      - name: Check docs generation
        if: matrix.node-version == '18.x'
        run: |
          yarn docs
        env:
          CI: true
