name: Publish to NPM

on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

permissions:
  id-token: write # Required for OIDC
  contents: read

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    timeout-minutes: 15

    strategy:
      fail-fast: false
      matrix:
        node-version: [14, 16, 18, 20, 22, 24]

    steps:
      - uses: actions/checkout@v6
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}

      - name: Prepare Environment
        run: |
          corepack enable
          yarn install --immutable
        env:
          CI: true
      - name: Run tests
        run: |
          yarn unit
        env:
          CI: true

  publish:
    name: Publish to NPM
    runs-on: ubuntu-latest
    timeout-minutes: 15

    needs:
      - test

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v6
        with:
          node-version: 24

          registry-url: "https://registry.npmjs.org"

      - name: Prepare Environment
        run: |
          corepack enable
          yarn install --immutable
        env:
          CI: true

      - name: Determine type of release
        id: release-tag
        run: |
          if [[ "${{ github.ref }}" == "refs/heads/main" ]]; then
            echo "Publish latest"
            echo "tag=latest" >> $GITHUB_OUTPUT
          else
            echo "Publish nightly"
            echo "tag=nightly" >> $GITHUB_OUTPUT
          fi

      - name: Bump version to prerelease
        if: github.ref != 'refs/heads/main'
        run: |
          COMMIT_TIMESTAMP=$(git log -1 --pretty=format:%ct HEAD)
          COMMIT_DATE=$(date -d @$COMMIT_TIMESTAMP +%Y%m%d-%H%M%S)
          GIT_HASH=$(git rev-parse --short HEAD)
          PRERELEASE_TAG=nightly-$(echo "${{ github.ref_name }}" | sed -r 's/[^a-z0-9]+/-/gi')
          npm version prerelease --preid $PRERELEASE_TAG-$COMMIT_DATE-$GIT_HASH --git-tag-version false

      - name: Build
        run: yarn build
        env:
          CI: true
      - name: Publish to NPM
        run: npm publish --tag ${{ steps.release-tag.outputs.tag }}
        env:
          CI: true
